version: "3.9"

services:
  app:
    build: .
    container_name: marketing-strategy-dss
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
